<h1><%=@user.full_name %></h1>
<h1><%=@user.address.full_address %></h1>
<a href="#edit_user" data-bs-toggle="modal" data-bs-target="#edit_user">Edit</a>

<div class="modal" id="edit_user" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @user do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, 'Save Changes', class: "btn blue" %>
        <% end %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>